{% extends 'base.html' %}
{% load static %}
{% block title %}Libreous{% endblock %}
{% block info1 %}
    <div class="offer">
        <div class="offer__text">
            <div class="helper">
                <p class="text__title">Subscription 9$ per/month</p>
                <div class="text__description">
                    <p>Read books Online, Offline</p>
                    <p>EVERYWHERE</p>
                    <p>for only 9$ per/month</p>
                </div>
                <button type="button">More</button>
            </div>
        </div>
        <div class="offer__img">
            <img src="{% static 'img/ad_img.png' %}" alt="">
        </div>
    </div>
{% endblock %}
{% block info2 %}
    <div class="book_shelf">
        <p class="text__title">Top rated books</p>
        <p class="text__description">Mostly interesting books rated by users</p>
        <div class="showcase">
            <div class="slider swiper-container">
                <div class="swiper-wrapper">
                    {% for book in rating %}
                        <div class="swiper-slide">
                        <div class="slider__info" style="display: flex; flex-direction: column; justify-content: space-evenly">
                            <div class="slider__book_img" style="background-image: url({{ book.book_img }})" title="{{ book.book_name }}">

                            </div>
                            <a href="{% url 'post-detail' book.id %}" class="book_name" title="{{ book.book_name }}">
                                {{ book.book_name }}
                            </a>
                            <p class="book_author"> {{ book.book_author }} </p>
                            <p class="book_name">{{ book.book_stars }} out of 10 rating</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-scrollbar"></div>
            </div>
        </div>
    </div>

    <div class="book_shelf">
        <p class="text__title">Top oldest books</p>
        <p class="text__description">The most oldest books we have</p>
        <div class="showcase">
            <div class="slider swiper-container">
                <div class="swiper-wrapper">
                    {% for book in date %}<div class="swiper-slide">
                        <div class="slider__info" style="display: flex; flex-direction: column; justify-content: space-evenly">
                            <div class="slider__book_img" style="background-image: url({{ book.book_img }})" title="{{ book.book_name }}">

                            </div>
                            <a href="{% url 'post-detail' book.id %}" class="book_name" title="{{ book.book_name }}">
                                {{ book.book_name }}
                            </a>
                            <p class="book_author"> {{ book.book_author }} </p>
                            <p class="book_name">{{ book.book_stars }} out of 10 rating</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-scrollbar"></div>
            </div>
        </div>
    </div>
{% endblock %}