{% extends 'base.html' %}
{% load static %}
{% block title %}
    Поиск: {{ q }}
{% endblock %}
{% block info1 %}
    <div class="wrapper-col" style="background: #523232; color: white">
        <div class="text__title">Поиск по запросу: </div>
        <p class="text__description">{{ q }}</p>
    </div>
    {% for b in books %}
        <div class="books">
            <div class="books_left">
                <img src="{{ b.book_img }}" alt="">
            </div>

            <div class="books_right">
                <p class="text__title">Книга: {{ b.book_name }}</p>
                <div class="books_right__info">
                    <p class="text__description">Автор: {{ b.book_author }}</p>
                    <p class="text__description" style="color: green">Есть в наличии</p>
                    <p class="text__description">Рейтинг: {{ b.book_stars }} из 10</p>
                </div>
                <div class="book_right__spec">
                    <div class="text__description price">Цена: {{ b.book_price }}</div>
                    <button class="text__description"> Читать </button>
                </div>
                <div class="book_right__desc">
                    <p class="text__description">Краткое описание</p>
                    <pre>{{ b.book_description }}</pre>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
